:root {
    --clr-dark-bg: #1f2937;
    --clr-quote-bg: #e5e7eb;
    --clr-hero-main-text:#f9faf8;
    --clr-secondary-main-text:#e5e7eb;
    --clr-main-text:#1f2937;
    --clr-cta-btn: #3882f6;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
    font-family: "Roboto", Tahoma, sans-serif;
}

h1  {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-color: var(--clr-dark-bg);
    padding-bottom: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.hero-logo-text {
    font-size: 24px;
    color: var(--clr-hero-main-text);
    text-decoration: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: var(--clr-hero-main-text);
}

.hero-secondary-text {
    font-size: 18px;
    color: var(--clr-secondary-main-text);
    text-decoration: none;
}

section {
    display: flex;
    gap: 1rem;
}

section div {
    flex: 1;
}

.cta-btn {
    background-color: var(--clr-cta-btn);
    color: var(--clr-secondary-main-text);
    font-weight: bold;
    padding: 0.5rem 1.75rem;
    border-radius: 0.5rem;
    border: none;
}

.gallery-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 3rem;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.item {
    flex: 0 0 200px;
    text-align: center;
}

.item img {
    border-radius: 1rem;
}

article {
    background-color: var(--clr-quote-bg);
}

.quote-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-flow: column nowrap;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-wrapper p {
    align-self: flex-end;
    margin-top: -1rem;
    font-size: 18px;
    font-weight: bold;
}