:root {
    --clr-dark-bg: #1f2937;
    --clr-quote-bg: #e5e7eb;
    --clr-hero-main-text:#f9faf8;
    --clr-secondary-main-text:#e5e7eb;
    --clr-main-text:#1f2937;
    --clr-cta-btn: #3882f6;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-color: var(--clr-dark-bg);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.hero-logo-text {
    font-size: 24px;
    color: var(--clr-hero-main-text);
    text-decoration: none;
}

.hero-secondary-text {
    font-size: 18px;
    color: var(--clr-secondary-main-text);
    text-decoration: none;
}