html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 80%;
}

header {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}